---
import Button from "../components/ui/Button.astro";
import { siteConfig } from "@/config/site";
import HeroCard from "@/components/home/HeroCard.astro";
import Layout from "@/layouts/Layout.astro";
import FeaturedWork from "../components/sections/FeaturedWork.astro";
import SocialCard from "@/components/cards/SocialCard.astro";
import AnimatedText from "@/components/ui/AnimatedText.astro";
import Explore from "@/components/sections/Explore.astro";
---

<Layout
title="Lils 101"
description="Welcome to Lily's portfolio site! Explore my work."
keywords="Lily, Portfolio, Tech, GTM, Marketing, Fashion"
>
  <div
    class="relative site-container z-20  w-full mx-auto mt-16 px-4 md:mt-18 lg:mt-20 xl:px-0"
  >
    <div class="relative w-full px-4 flex flex-col items-center justify-between md:flex-row mb-16 ">
      <div class="relative w-full md:max-w-[420px] md:w-1/2 text-center sm:text-left sm:-mt-8">
        <!-- Title - AnimatedText animation -->
        <h1 class="mb-4">
          <AnimatedText
            content="Happy to have you, I'm Lily"
            delay={0.1}
            duration={0.5}
            stagger={0.08}
            class="text-5xl text-pri leading-tight md:text-4xl lg:text-6xl font-brand "
          />
        </h1>

        <!-- First description - AnimatedText animation -->
        <div class="mb-2">
          <AnimatedText
            content="Working at the intersection of fashion, tech, and storytelling." 
            duration={0.5}
            stagger={0.015}
            class="text-base text-neutral-700 dark:text-neutral-300"
          />
        </div>

        <!-- Second description - AnimatedText animation -->
        <div class="mb-4">
          <AnimatedText
            content="I like solving problems! Sometimes that’s building go-to-market + content for a startup, other times it’s a never-ending yap sesh with people doing really cool things. Always interested in hearing about new fashion-tech endeavors and creator partnerships, and I love taking something messy and turning it into something people actually understand."
            delay={0.5}
            duration={0.5}
            stagger={0.015}
            class="text-base text-neutral-700 dark:text-neutral-300"
          />
        </div>
        
        <!-- Third description - AnimatedText animation -->
        <div class="mb-4">
          <AnimatedText
            content="Grew up in the East Bay, studied Applied Math at Cal Poly SLO, and currently based in the Bay Area (but constantly looking for an excuse to be in NYC bc my brother lives there so I am loyal to the bit)."
            delay={0.5}
            duration={0.5}
            stagger={0.015}
            class="text-base text-neutral-700 dark:text-neutral-300"
          />
        </div>

        <!-- Fourth description - AnimatedText animation -->
        <div class="mb-4">
          <AnimatedText
            content="Drawn to two things that don’t seem related until you live them: systems and taste. Especially interested in how technology can make fashion more thoughtful, more personal, and less wasteful." 
            delay={0.5}
            duration={0.5}
            stagger={0.015}
            class="text-base text-neutral-700 dark:text-neutral-300"
          />
        </div>

        <!-- Fifth description - AnimatedText animation -->
        <div class="mb-4">
          <AnimatedText
            content="Things I <3: paint&sip, hand-sewing, strawberry matcha lattes, pilates, trying out a new beli spot... (fan of any and every cuisine)"
            delay={0.5}
            duration={0.5}
            stagger={0.015}
            class="text-base text-neutral-700 dark:text-neutral-300"
          />
        </div>

        <!-- Sixth description - AnimatedText animation -->
        <div class="mb-4">
          <AnimatedText
            content="don't hesitate to reach out!!!"
            delay={0.5}
            duration={0.5}
            stagger={0.015}
            class="text-base text-neutral-700 dark:text-neutral-300"
          />
        </div>

        <!-- Social Cards - AOS animation -->
        <div
          class="social mt-8 mb-8"
          data-aos="fade-up-sm"
          data-aos-delay="1000"
          data-aos-duration="600"
          data-aos-once="true"
        >
          <SocialCard displaySocialIds={[1, 2, 3,4]}/>
        </div>
      </div>

      <!-- HeroCard - AOS animation -->
      <div
        class="relative justify-end w-full mt-16 md:flex md:pl-10 md:w-1/2 md:mt-0 md:translate-y-4 xl:translate-y-0"
        data-aos="fade-left-sm"
        data-aos-delay="300"
        data-aos-duration="800"
        data-aos-once="true"
      >
        <HeroCard
          imageUrl="/assets/home/cover.jpg"
          title="CoverPic"
        />
      </div>
    </div>
  </div>

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <Explore title="Explore ↓"  />
  </section>

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <FeaturedWork title="Featured Work ↓" limit={3} />
  </section>
</Layout>
