---
import WorksSection from "@/components/sections/WorksSection.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import PageHeader from "@/components/elements/PageHeader.astro";
---

<PageLayout title="My Works">
  <section class="site-container m-auto">
    <PageHeader
      title="things I've worked on"
      description="Some recents!"
    />

    <WorksSection />
  </section>
</PageLayout>
