---
import { base } from '@/config/site';
---

<a
  href={base + "/"}
  class="h-16 text-base group relative z-30 flex items-center aspect-square"
>
  <img src={base + "/assets/logo.png"} alt="Logo" class="w-16 h-16 rounded-full" />
</a>

